.ine-header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 17.0667vw;
    padding: 5.3333vw 2.6667vw 0 2.6667vw;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    z-index: 999;
}

.ine-header img:first-of-type {
    width: 2.1333vw;
    height: 3.7333vw;
}

.ine-header span:nth-child(2) {
    font-size: 3.2vw;
    color: #000000;
}

.ine-header img:last-of-type {
    width: 4.2667vw;
    height: 1.0667vw;
}

.ine-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 17.0667vw 2.6667vw 0 2.6667vw;
}

.ine-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26.9333vw;
    height: 27.2vw;
    border-radius: 5.3333vw;
    margin-top: 5.3333vw;
}

.ine-section div:last-child {
    margin-right: 33.8667vw;
}

.ine-section div img {
    width: 100%;
    margin-bottom: 1.3333vw;
}

.ine-section div span {
    font-size: 3.2vw;
}

.ine-footer {
    padding: 13.3333vw 2.6667vw 0 2.6667vw;
}

.ine-footer img {
    width: 100%;
}