.toast {
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 1.3333vw;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 1.3333vw;
    z-index: 9999;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.toast.in {
    -webkit-animation-name: contentZoomIn;
    animation-name: contentZoomIn;
}

.toast .iconfont {
    font-size: 3.2vw;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1.3333vw;
    display: block;
}

.toast .iconfont.icon-loading:before {
    display: block;
    -webkit-transform: rotate(360deg);
    animation: rotation 2.7s linear infinite;
}

.toast .text {
    text-align: center;
    max-width: 40vw;
    color: #fff;
    font-size: 3.2vw;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@-webkit-keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}

@keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}