@font-face {
  font-family: "iconfont"; /* Project id 2844797 */
  src: url('iconfont.woff2?t=1634817692176') format('woff2'),
       url('iconfont.woff?t=1634817692176') format('woff'),
       url('iconfont.ttf?t=1634817692176') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengjia2:before {
  content: "\e606";
}

.icon-z_add_normal1:before {
  content: "\e6f8";
}

.icon-zengjia1:before {
  content: "\e62b";
}

.icon-zengjia:before {
  content: "\e620";
}

.icon-yuyin4:before {
  content: "\e716";
}

.icon-biaoqingfuhao:before {
  content: "\e69e";
}

.icon-yuyin1:before {
  content: "\e64f";
}

.icon-yuyin3:before {
  content: "\e658";
}

.icon-fangxinjiaoyi:before {
  content: "\e6e8";
}

.icon-jiaoyi:before {
  content: "\e682";
}

.icon-xiaoxi2:before {
  content: "\e86f";
}

.icon-xiaoxi4:before {
  content: "\e607";
}

.icon-xiaoxi:before {
  content: "\e621";
}

.icon-xiaoxi1:before {
  content: "\e610";
}

.icon-xiaoxi3:before {
  content: "\e641";
}

.icon-biaoqiankuozhan_shouye-366:before {
  content: "\ebdf";
}

.icon-hanhan-01-01:before {
  content: "\e671";
}

.icon-wodequanzi:before {
  content: "\e6ac";
}

.icon-quanzi:before {
  content: "\e623";
}

.icon-quanzi-tian:before {
  content: "\e624";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-shoucang_shixin:before {
  content: "\eca6";
}

.icon-xiaolian1:before {
  content: "\e688";
}

.icon-yuyin:before {
  content: "\e684";
}

.icon-xiaolian:before {
  content: "\e8ab";
}

.icon-yuyin2:before {
  content: "\e6f5";
}

